# Copyright (C) 2018-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2018-present Sven Greb <development@svengreb.de>
#
# Project:    Styleguide JavaScript
# Repository: https://github.com/arcticicestudio/styleguide-javascript
# License:    MIT

build/*
**/node_modules/*
!.eslintrc.js
!.huskyrc.js
!.remarkrc.js
