# Copyright (C) 2018-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2018-present Sven Greb <development@svengreb.de>
#
# Project:    Styleguide JavaScript
# Repository: https://github.com/arcticicestudio/styleguide-javascript
# License:    MIT

# Always use a lockfile to pin dependency versions, improve the security through integrity checksums
# and prevents possible errors caused by updated transitive dependencies.
package-lock=true

# Automatically pin dependencies to exact versions instead of resolving to latest minor and patch updates.
# This prevents possible errors caused by updated transitive dependencies.
save-exact=true
